# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Flask instance folder
instance/

# Flask cache and session files
*.pyo
*.pyd

# Environment variables file
.env
*.env

# Logs
*.log
*.out
*.err

# Database files
*.sqlite3
*.db

# MacOS files
.DS_Store

# PyCharm and other IDE files
.idea/
*.swp

# VSCode settings
.vscode/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/
